/**
 * desc: 找回密码
 * User: Renjian.Tang/renjian.tang@gymboglobal.com
 * Date: 2018/8/10
 * Time: 下午2:04
 */
@import "../func";
@import "../theme";
@import "../web";

@mixin bar {
  display:inline-block;
  width: transRem(85px);
  height:transRem(8px);
}

@mixin button {
  border: none;
  color: $gymFontWhiteColor;
  width: transRem(180px);
  height: transRem(40px);
  line-height: transRem(40px);
  font-size: transRem(14px);
  border-radius: transRem(10px);
  cursor: pointer;
}

$headerHeight:60px;

#gym-find-password{

}
/**************第一次登录重置密码****************/
.gym-first-login-password{
  background: #f8f3f0;
  &-content{
    padding: transArray(80px 100px);
    background: #fff;
  }
  &-h1{
    text-align: center;
    font-size: transRem(24px);
    font-weight: 700;
    margin-bottom: transRem(36px);
  }
  &-h2{
    text-align: center;
    font-size: transRem(18px);
    margin-bottom: transRem(20px);
  }
  &-h3{
    text-align: center;
    font-size: transRem(18px);
    font-weight: 700;
    margin-bottom: transRem(20px);
  }
  &-high-light{
    color:$themeColor;
  }
  &-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item{
      width: 50%;
      margin-bottom: transRem(12px);
      &-label{
        display: inline-block;
        width: transRem(140px);

      }
    }
    .gym-select-input{
      width: transRem(240px);
    }
    .gym-input{
      width: transRem(240px);
    }
  }
}



/******************找回密码*********************/
.gym-find-password {
  background: #f8f3f0;
  &-header{
    background: $themeColor;
    height: $headerHeight;
    &-img{
      width: transRem(360px);
      line-height: $headerHeight;
    }
  }
  &-content{
    padding: transArray(50px 100px);
    background: #fff;
  }
  &-steps{
    margin-bottom: transRem(90px);
    text-align: center;
  }
  &-button{
    background: $themeColor;
    @include button;
  }
  &-button-cancel{
    background: #e8927c;
    @include button;
  }
  &-button-disabled{
    background: #dcdcdc;
    @include button;
  }
}


.gym-find-password-identify{
  &-form{
    text-align: center;
    position: relative;
    &-item{
      display: flex;
      margin-bottom: transRem(48px);
      padding-left: transRem(160px);
      .ant-form-item-label label{
        width:transRem(150px);
        display: inline-block;
        text-align: right;
        font-size: 14px;
        color: #999999;
      }
      .ant-input{
        width: transRem(380px);
        border: none;
        background: #f8f3f0;
        height: transRem(40px);
        &:focus{
          box-shadow: none;
        }
      }
    }
    &-item.last-item{
      margin-bottom: transRem(78px);
    }
    &-item.button-group{
      padding-left: transRem(0);
      .ant-form-item-control-wrapper{
        margin: auto;
      }
      .ant-form-item-children{
        width: transRem(380px);
        display: flex;
        justify-content: space-between;
      }
    }
    &-item.send-code{
      .ant-input{
        width: transRem(240px);
      }
      .ant-input-search-button{
        height: transRem(40px);
        line-height: transRem(40px);
        background: #e8927c;
        border: none;
        color: #fff;
        width: auto;
      }
      .not-receive{
        color: #e8927c;
        text-align: right;
        cursor: pointer;
      }
    }
  }
  /**********错误信息************/

  .err-icon{
    width: transRem(26px);
    height: transRem(26px);
    line-height: transRem(26px);
    font-size: transRem(26px);
    color: $gymErrorRed;
  }
  .desc-icon{
    width: transRem(26px);
    height: transRem(26px);
    line-height: transRem(26px);
    font-size: transRem(26px);
    color: grey;
    &:hover{
      color: $gymWarningYellow;
    }
  }
  .success-icon{
    width: transRem(26px);
    height: transRem(26px);
    line-height: transRem(26px);
    font-size: transRem(26px);
    color: $gymSuccessGreen;
  }

  &-error-username{
    position: absolute;
    top:transRem(40px);
    left: transRem(360px + 340px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: transRem(340px);
    .err-text{
      font-size: transRem(14px);
      text-align: left;
      color: #666;
    }
  }
  &-desc{
    position: absolute;
    top: transRem(-5px);
    left: transRem(400px);
  }

  &-error-code{
    position: absolute;
    top: transRem(-10px);
    left: transRem(400px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: transRem(180px);
    .err-icon{
      width: transRem(26px);
      height: transRem(26px);
      line-height: transRem(26px);
      font-size: transRem(26px);
      color: $gymErrorRed;
    }
    .success-icon{
      width: transRem(26px);
      height: transRem(26px);
      line-height: transRem(26px);
      font-size: transRem(26px);
      color: $gymSuccessGreen;
    }
  }
}

/**********密码规则************/
.gym-password-validate-box {
  position: absolute;
  z-index: 1;
  top:transRem(-60px);
  left:transRem(400px);
  border-radius: transRem(10px);
  width:transRem(330px);
  height:transRem(140px);
  background: #f8f3f0;
  font-size: transRem(13px);
  text-align: left;
  padding: transRem(5px);

  &-div{
    display: inline-block;

    border: transRem(8px);
  }
  &-danger-bar{
    background-color: $gymErrorRed;
    @include bar;
  }
  &-success-bar{
    background-color: $gymSuccessGreen;
    @include bar;
  }

  &-primary-bar{
    background-color: #dcdcdc;
    @include bar;
  }

  &-desc{
    height: transRem(20px);
    line-height: transRem(20px);
  }
}
/***************修改结果******************/
.gym-password-result{
  &-info{
    text-align: center;
    margin-bottom: transRem(22px);
    &-icon{
      display: inline-block;
      width: transRem(26px);
      height: transRem(26px);
      border-radius: transRem(26px);
      text-align: center;
      font-size: transRem(20px);
      line-height: transRem(26px);
      color: $gymFontWhiteColor;
      margin-right: transRem(5px);
      &.success{
        background: $gymSuccessGreen;
      }
      &.error{
        background: $gymErrorRed;
      }
    }
    &-text{
      font-size: transRem(14px);
      color: $gymFontGrayColor;
    }
  }
  &-error{
    text-align: left;
    color: $gymFontGrayColor ;
    font-size: transRem(14px);
    margin: transRem(22px) auto;
    width: transRem(500px);
  }
  &-count{
    text-align: center;
    font-size: transRem(14px);
    &-time{
      color: $themeColor;
    }
    &-link{
      color: $themeColor;
      text-decoration: underline !important;
      &:hover{
        color: $themeColor;
      }
    }
  }
}