@font-face {
  font-family: "iconfont"; /* Project id 825653 */
  src: url('iconfont.woff2?t=1644291538297') format('woff2'),
       url('iconfont.woff?t=1644291538297') format('woff'),
       url('iconfont.ttf?t=1644291538297') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanli:before {
  content: "\e64e";
}

.icon-ceshishenqing:before {
  content: "\eb61";
}

.icon-zonghehoutai:before {
  content: "\e600";
}

.icon-anquan:before {
  content: "\e62a";
}

.icon-shouji:before {
  content: "\e62b";
}

.icon-GroupCopy:before {
  content: "\e627";
}

.icon-saoyisao:before {
  content: "\e628";
}

.icon-Group:before {
  content: "\e629";
}

.icon-tishi:before {
  content: "\e622";
}

.icon-xiangzuo:before {
  content: "\e621";
}

.icon-guanliyuan:before {
  content: "\e616";
}

.icon-banbengushi:before {
  content: "\e617";
}

.icon-zhuye:before {
  content: "\e618";
}

.icon-baibaoxiang:before {
  content: "\e619";
}

.icon-xiaoxi:before {
  content: "\e61a";
}

.icon-rili:before {
  content: "\e61b";
}

.icon-banbengushiguanbi:before {
  content: "\e61c";
}

.icon-zhankai:before {
  content: "\e61d";
}

.icon-zhedie:before {
  content: "\e61e";
}

.icon-bumen:before {
  content: "\e61f";
}

.icon-guanbi:before {
  content: "\e620";
}

